.body-container{
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.cart-container{
    margin: 0 3rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
    margin-top: 3rem;
}

.order-summery{
    background: rgb(211, 211, 211);
    height: 30rem;
    position: sticky;
}

@media only screen and (max-width:500px) {
    .body-container{
        grid-template-columns: 1fr;
    }
    .cart-container{
        grid-template-columns: 1fr;
    }
    .order-summery{
        max-width: 100%;
    }
}